<div class="jumbotron my-0">
  <section class="col-12 col-md-10 col-lg-8">
  <h1 class="display-4">Move and Groove:</h1>
  <h2 class="display-1">Punchy Message About Fitness</h2>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>The time is now: <%= Time.now %></p>
  <%= link_to 'Sign in', new_user_session_path, :class => "btn btn-primary btn-lg" %>
  <%= link_to 'Sign up', new_user_registration_path, :class => "" %>
  </section>
</div>
