<div class="jumbotron my-0">
  <section class="col-12 col-md-10 col-lg-8">
    <h1 class="display-4 ">Take your exercise<br>  to the next level</h1>
    <h2 class="display-2"><span class="">Move and Groove</span></h2>
    <p class="lead bg-secondary d-inline-block">
      <%= link_to 'Sign up free', new_user_registration_path, :class => "btn btn-primary btn-lg" %>
      <span class="px-3 text-dark">to start
        <%= link_to ' tracking you exercise', about_path, :class => "text-dark" %>
        .
      </span>
    </p>
    <hr class="my-4">
    <p>
      <span class="">Start today to boost your motivation and gain insight into your fitness habits.</span>
    </p>
  </section>
</div>
