// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table thead th, .table td {
  vertical-align: middle;
}

.table td:last-child {
  width: 250px;
}

.table td:first-child+td+td {
  width: 100px;
}

.duration input[type=number] {
  width: 100px;
}

.activities {
  .auxiliary-link-right,
  .auxiliary-link-left {
    margin-top: 21px;
  }

  .auxiliary-link-left {
    left: 25px;
  }
  .auxiliary-link-right {
    right: 25px;
  }
}