<table class="table table-bordered">
  <thead class="thead-light">
  <th>Activity</th>
  <th>Total per week</th>
  </thead>
  <% @summary.totals_by_type.each do |activity, duration| %>
      <tr>
        <td><%= activity.to_s.titleize %></td>
        <td><%= render_timespan(duration) %></td>
      </tr>
  <% end %>
  <tr class="font-weight-bold">
    <td>All activities</td>
    <td><span class="badge badge-secondary"><%= render_timespan(@summary.total) %></span></td>
  </tr>
</table>