<p id="notice"><%= notice %></p>
<h1>Editing Activity</h1>

<section class="py-5">
<%= render 'form', activity: @activity %>
</section>
<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
