<!-- Footer section -->
<footer class="footer bg-dark">
  <div class="container">
    <div class="row p-5 px-md-0 d-block">
      <p class="text-left text-primary">Copyright and small print</p>
      <small class="text-left text-muted d-block">
        Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. Ornare massa eget egestas purus viverra. Egestas fringilla phasellus faucibus scelerisque eleifend. Molestie nunc non blandit massa enim nec dui. Arcu non odio euismod lacinia at quis risus sed. Consectetur lorem donec massa sapien faucibus. Leo in vitae turpis massa sed elementum tempus egestas. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Morbi tempus iaculis urna id volutpat lacus laoreet. In nibh mauris cursus mattis molestie a iaculis. Nisl pretium fusce id velit ut tortor pretium viverra.
      </small>
      <small class="text-left text-muted d-block mt-4">
        Ac placerat vestibulum lectus mauris ultrices eros in cursus. Feugiat pretium nibh ipsum consequat nisl. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Donec et odio pellentesque diam volutpat commodo sed. Ac ut consequat semper viverra nam libero justo laoreet. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Lobortis scelerisque fermentum dui faucibus in ornare. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Sit amet volutpat consequat mauris nunc congue nisi. Vel facilisis volutpat est velit egestas dui id. Id ornare arcu odio ut sem. Nibh cras pulvinar mattis nunc. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Eu scelerisque felis imperdiet proin fermentum.
      </small>
    </div>
  </div>
</footer>